extends layout

block content
  #container.api
    h1 Welcome to the Fun Facts API!
    p Thank you for taking the time to visit. To get started using the API, check out the page for the specific version you want to use. Of course its recommended that you use the newest version.
    h2 Current API Version: 
      a(href="/api/v1/") v1
