extends layout

block content
  #container.small
    p#did-you-know Did you know? <span class="fact_id">##{fact.id}</span>
    p#fun-fact= fact.text
    a(href="/")
      button#next-fact.
        SHOW ANOTHER FUN FACT!
