extends layout

block content
  #container.small
    p#did-you-know Did you know? <span id="fact-id">##{fact.id}</span>
    p#fun-fact= fact.text
    a(href="/", onclick="return false;")
      button#next-fact SHOW ANOTHER FUN FACT!
    script(src='/scripts/fetchTask.js')
