doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="The Fun Facts API serves up short fun facts. They're perfect for giving your users short bits of entertaining information!")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
