* {
  margin: 0;
  padding: 0;
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2387a8;
}

#container {
  max-width: 640px;
  padding: 1em;
  margin: 0 auto;
}

/* Basic styling */
#did-you-know, #fact-id {
  color: rgba(255, 255, 255, 0.5);
}

#fun-fact {
  color: #fff;
}

#next-fact {
  border: none;
  background-color: #fff;
  color: #2387a8;
}

/* Specifc styling */

#did-you-know, #fact-id {
  font-size: 1.75rem;
  display: inline;
}

#top-bar:after { /* Clearfix */
  content: "";
  display: table;
  clear: both;
}

#did-you-know {
  float: left;
  font-weight: normal;
}

#fact-id {
  float: right;
}

#fun-fact {
  font-size: 2rem;
  margin: 3rem 0;
}

#next-fact {
  width: 100%;
  font-size: 1.25em;
  padding: 0.5em;
}

/* API pages */
.api h1 {
  font-size: 2.5em;
  margin-bottom: 2rem;
}

.api h1 .back {
  float: right;
}

.api h2 {
  font-size: 2em;
  margin: 2rem 0 1rem 0;
}

.api p {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.api p span {
  font-weight: bold;
}
